html {
    height: 100%;
    min-height: 100%;
}
/* Navigation Bar styles */
#nav-bar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images apps-icon account-icon";
}
/* Navigation Bar children id styles */
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;

}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#apps-icon {
    grid-area: apps-icon;
    opacity: 0.55;
    justify-self: center;
    align-self: center;
}
#account-icon {
    grid-area: account-icon;
    justify-self: center;
    align-self: center;
}
/* anchor tag style */
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: Arial, sans-serif;
    font-size: 13px;
}
/* classes */
.circle-image {
    border-radius: 50%;
}
/* Google Logo id style */
#main-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px;
    grid-template-areas: 
    ". google-logo ."
    ". search-bar ."
    ". button-flexbox ."
}

/* Main Content */
#google-logo {
    grid-area: google-logo;
    justify-self: center;
    align-self: end;
}

#search-bar {
    grid-area: search-bar;
    height: 30px;
    align-self: center;
}

#button-flexbox {
    display: flexbox;
    grid-area: button-flexbox;
    justify-self: center;
    align-self: center;
}

#search-button {
    grid-area: search-button;
}

#random-search-button {
    grid-area: random-search-button;
}

/*Footer styles*/
#footer {
    display: grid;
    grid-template-columns: repeat(3, 100px) 1fr repeat(3, 100px);
    grid-template-rows: 50px;
    grid-template-areas: 
    "advertising business how-search-works . privacy terms settings";
}

#advertising {
    grid-area: advertising;
}

#business {
    grid-area: business;
}

#how-search-works {
    grid-area: how-search-works;
}

#privacy {
    grid-area: privacy;
}

#terms {
    grid-area: terms;
}

#settings {
    grid-area: settings;
}