html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
/* Navigation Bar styles */
#nav-bar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images apps-icon account-icon";
}
/* Navigation Bar children id styles */
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;

}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#apps-icon {
    grid-area: apps-icon;
    opacity: 0.55;
    justify-self: center;
    align-self: center;
}
#account-icon {
    grid-area: account-icon;
    justify-self: center;
    align-self: center;
}
/* anchor tag style */
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}
/* classes */
.circle-image {
    border-radius: 50%;
}
/* Main Content */
#main-container {
    min-height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px;
    grid-template-areas: 
    ". google-logo ."
    ". search-bar-container ."
    ". button-flexbox ."
}

#google-logo {
    grid-area: google-logo;
    justify-self: center;
    align-self: end;
}

#search-bar-container {
    grid-area: search-bar-container;
    position: relative;
    justify-self: center;
    align-self: center;
    height: 39px;
    width: 32rem;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    z-index: 0;
}

#search-bar {
    grid-area: search-bar;
    position: absolute;
    border: none;
    width: 25rem;
    height: 1.3rem;
    top: .5rem;
    left: 3rem;
}

#voice-icon {
    position: absolute;
    z-index: 1;
    top: .6rem;
    right: 1rem;
}

#search-icon {
    position: absolute;
    opacity: 0.35;
    z-index: 1;
    top: .6rem;
    left: 1rem;
}

#search-bar-container:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px .5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

#search-bar-container:focus {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px .5px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

#search-bar:focus {
    outline: none;
}

#button-flexbox {
    display: flexbox;
    grid-area: button-flexbox;
    justify-self: center;
    align-self: center;
}

#search-button {
    grid-area: search-button;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 0.5rem;

}

#random-search-button {
    grid-area: random-search-button;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0.5rem;

}

#search-button:hover {
    border: 1px solid;
    border-radius: 4px;
    border-color:rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#random-search-button:hover {
    border: 1px solid;
    border-radius: 4px;
    border-color:rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}

/*Footer*/

#footer-container {
    border: .5px solid #dadce0;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 90px) 150px 1fr repeat(3, 70px);
    grid-template-rows: 40px;
    grid-template-areas: 
    "advertising business how-search-works . privacy terms settings";
    left: 0;
    right: 0;
}

#footer-container a {
   color: #70757a;
}

#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}

#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#how-search-works {
    grid-area: how-search-works;
    justify-self: center;
    align-self: center;    
}

#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}

#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}